extends layout

block content
        //
          https://www.w3schools.com/howto/howto_css_team.asp
          Basic html of the academic secion basesd on code from the above link
          .w3-content.w3-section(style='max-width:500px')
     
        .w3-content.w3-section(style='max-width:500px')
        img.bannerslides(src='banner2.jpg')
        img.bannerslides(src='banner3.jpg')

        .row
          .column
            .card
              .container
                h2 HTML
                p
                  button#btn1 More Information
                  #myModal.modal
                    // content of model
                    .modal-content
                      span.close ×
                      h1 HTML
                      hr
                      p
                        | Hypertext Markup Language is a web standard for creating web pages and applications. Web browsers take HTML and render it into multimedia web pages. HTML creates the structure of a web page and can also be used to style (although this is now more commonly done using Cascading Style Sheets, which will be later elaborated upon).
                      p The pros of using HTML are;
                      ul
                        li Easy to learn
                        li It is free
                        li Is easily interpreted by all browsers
                        li Widely used
                        li
                          | Is very forgiving e.g. A misspelled or misplaced tag often does not affect the structure of the web page
                        li
                          | Has an ever-improving set of features that respond it changing times, such new multimedia/graphic elements
                      | Cons include;
                      ul
                        li
                          | Can take a long time for new standards to be fully implemented by authors and browsers alike
                        li
                          | Can be almost to forgiving in a sense with web pages being poorly written. This can lead to HTML becoming difficult for others to read and for search engines to efficiently catalogue the contents of a web page
                        li Tags are in American English only which may inconvenience non-native speakers
                      p
                        | There is no widely used alternative to HTML. Jade (Pug) which is used in this project, may be mistakenly seen as an alternative but it only HTML that is ultimately interpreted by the browser. There are other markup languages that could be used for structuring a page such as XML, but these are usually used for a different purpose alongside HTML. XHTML is another form of HTML that is more syntactically strict and is laid out more like XML rather than traditional HTML. HTML5 is the most current version of HTML, which is planned to be constantly updated rather than a set standard as it has been the case with since the previous standards of HTML.
                      | HTML is used throughout this project. It makes up the structure of all the web pages. There were relatively few problems encountered while writing the HTML. Although the HTML was formatted in a way that makes the application mobile friendly, there are a few divs that move in a non-uniform way when the screen is minimized and resized.
                      br
                      br
          .column2
            .card
              .container
                h2 CSS
                p
                  button#btn2 More Information
                  #myModal2.modal
                    // content of model
                    .modal-content
                      span.close ×
                      h1 CSS
                      p
                        | Cascading Style Sheets are used to describe the how a web page is to be presented in a document containing a markup language. CSS is used on each webpage of this application.
                      p The pros of using CSS are;
                      ul
                        li Easy to learn
                        li Speed at which a page can be styled over multiple web pages
                        li Compatible on any browser of note
                      p The cons are;
                      ul
                        li
                          | Syntax is different from HTML (for example, the syntax for commenting are different meaning both must be remembered)
                        li Can cause complications when using web development tools such as Dreamweaver
                        li Lack of security
                        li Doesn’t always behave identically in every browser
                      p
                        | As is the case with HTML, there are no credible alternatives that occupy this space. Adobe Flash, Silverlight and other such applications can be used to a certain extent be used for styling web pages but cannot accurately be described as an alternative to CSS.
          .column3
            .card
              .container
                h2 JavaScript
                p
                  button#btn3 More Information
                  #myModal3.modal
                    // content of model
                    .modal-content
                      span.close ×
                      p
                        | Dr. Morak Limerar MB BCH MRCP 
                        br
                        br
                        b Email:
                        |  moraklimerar@health.ie
                        br
                        br
                        | Has worked as a GP for for Oakfield Health for 15 years.
                        br
                        br
                        b
                          u Special Interests:
                        br
                        | Holistic Patient Care
                        br
                        | Family Health Needs
                        br
                        | Occupational Health
        .row2
          .column
            .card
              .container
                h2 Dr. Emily O'Rourke
                p.title General Practioner
                p
                  button#btn4 More Information
                  #myModal4.modal
                    // content of model
                    .modal-content
                      span.close ×
                      p
                        | Dr Emily O'Rourke MB BCH BAO MICGP DOWH
                        br
                        b Email:
                        |  emilyorourke@health.ie
                        br
                        br
                        | Qualified from University College Dublin (UCD).
                        br
                        br
                        b
                          u Special Interests:
                        br
                        | Development of General Practice Services
                        br
                        | Women's Health
                        br
                        | Family Planning
                        br
                        | Occupational Health
          .column2
            .card
              .container
                h2 Michelle Campbell
                p.title Nurse
                p
                  button#btn5 More Information
                  #myModal5.modal
                    // content of model
                    .modal-content
                      span.close ×
                      p
                        | Nurse Michelle Campbell RGN, Bsc (Hons) Nursing, H Dip (Practice Nursing)
                        br
                        br
                        b Email:
                        |  michellecampbell@health.ie
                        br
                        br
                        b
                          u Special Interests:
                        br
                        | Diabetes
                        br
                        | Asthma
                        br
                        | Women's Health
                        br
                        | Cardiovascular Health
                        br
                        | Weight Management
          .column3
            .card
              .container
                h2 Susan Martin
                p.title Practice Secretary
                p
                  button#btn6 More Information
                  #myModal6.modal
                    // content of model
                    .modal-content
                      span.close ×
                      p
                        b Email:
                        |  susanmartin@health.ie
                        br
                        br
                        | 	Has worked at Oakfield Health for twenty years
        button.slider-button See more
          script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
         script.
         $(document).ready(function(){
         $(".slider-button").click(function(){
         $(".row2").slideToggle(500);
        
         //Button changes between "See More" and "See Less" when the slide toggle button is clicked
         //https://stackoverflow.com/questions/19365386/jquery-change-button-text-on-click
       
          var $this = $(this);
          $this.toggleClass('.row2');
          if($this.hasClass('.row2')){
          $this.text('See Less');
          } 
          else {
          $this.text('See More');
          }
          });
          });
        script.
        
          //https://www.w3schools.com/howto/howto_css_modals.asp
          // Get the modal
          
          var modal = document.getElementById('myModal');
          var modal2 = document.getElementById('myModal2');
          var modal3 = document.getElementById('myModal3');
          var modal4 = document.getElementById('myModal4');
          var modal5 = document.getElementById('myModal5');
          var modal6 = document.getElementById('myModal6');
          
          // Get the button that opens the modal
          
          var btn = document.getElementById("btn1");
          var btn2 = document.getElementById("btn2");
          var btn3 = document.getElementById("btn3");
          var btn4 = document.getElementById("btn4");
          var btn5 = document.getElementById("btn5");
          var btn6 = document.getElementById("btn6");
          
          // Get the <span> element that closes the modal
          
          var span = document.getElementsByClassName("close")[0];
          var span2 = document.getElementsByClassName("close")[1];
          var span3 = document.getElementsByClassName("close")[2];
          var span4 = document.getElementsByClassName("close")[3];
          var span5 = document.getElementsByClassName("close")[4];
          var span6 = document.getElementsByClassName("close")[5];
          
          // When the user clicks on the button, open the modal
          
          btn1.onclick = function() {
          modal.style.display = "block";
          }
          btn2.onclick = function() {
          modal2.style.display = "block";
          }
          btn3.onclick = function() {
          modal3.style.display = "block";
          }
          btn4.onclick = function() {
          modal4.style.display = "block";
          }
          btn5.onclick = function() {
          modal5.style.display = "block";
          }
          btn6.onclick = function() {
          modal6.style.display = "block";
          }
          
          // When the user clicks on <span> (x), close the modal
          
          span.onclick = function() {
          modal.style.display = "none";
          }
          span2.onclick = function() {
          modal2.style.display = "none";
          }
          span3.onclick = function() {
          modal3.style.display = "none";
          }
          span4.onclick = function() {
          modal4.style.display = "none";
          }
          span5.onclick = function() {
          modal5.style.display = "none";
          }
          span6.onclick = function() {
          modal6.style.display = "none";
          }
          
          // When the user clicks anywhere outside of the modal, close it
          
          window.onclick = function(event) {
          if (event.target == modal) {
          modal.style.display = "none";
          }
          }
          
          //Following makes a slide show on academic page
          //Based on https://www.w3schools.com/w3css/w3css_slideshow.asp
          
        script.
          var x = 0;
          autoSlideShow();
          function autoSlideShow() {
          var i;
          var y = document.getElementsByClassName("bannerslides");
          for (i = 0; i < y.length; i++) {
             y[i].style.display = "none";  
          }
          x++;
          if (x > y.length) {x = 1}    
          y[x-1].style.display = "block";  
          setTimeout(autoSlideShow, 2000); // Change image every 2 seconds
          }
            
