extends layout

block content
        img.contact-banner(alt='Oakfield Health', src='contactbanner.jpg')
        .contact-left
          h2 Message Us
          form(name='form', action='/submitted', onsubmit='return validateEmail()', ;='')
            input#name(type='text', name='name', placeholder='Your name..' required)
            input#email(type='text', name='email', placeholder='Your email address..')
            select.option(name='option' required)
              option(value='', disabled='', selected='', hidden='') Select your option
              option(value='general-inquiry') General Inquiry
              option(value='appointment') Appointment
              option(value='prescription') Prescription
              option(value='other') Other
            textarea#subject(name='subject', placeholder='Write something..', style='height:200px')
            input(type='submit', value='Submit')
        .contact-right
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.5538859540898!2d-6.2629675843651835!3d53.35124157997999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e869f3ecf2f%3A0x52351ba3ab63e170!2sO'Connell+Street+Upper%2C+Dublin!5e0!3m2!1sen!2sie!4v1524576160704", width='300', height='150', frameborder='0', style='border:0', allowfullscreen='')
          br
          br
          br
          br
          p
            b Phone:
            |  &nbsp 046905467388
          p
            b Email:
            |  &nbsp oakfield@health.ie
          p
            b Address:
            |  &nbsp O'Connell St,&nbsp Dublin 1
          p
            b Opening Hours:
            |  9am to 6pm Weekdays  (Excluding Bank Holidays)
    