extends layout

block content
        .mainpicdiv
          img.mainpic(src='mainpic.jpg', alt='Oakfield Health')
          a.button2(href='/contact') Find Our Location
          p.indexinfo Oakfield Health is located in Dublin <br> and has been servicing the <br> inner city for over 30 years