extends layout

block content
        .row
          img.contact-banner(alt='Oakfield Health', src='../our-team-banner.jpg')
          a.button-add(href="../add") Add
          br
          br
          br
          br
          br
          .staff-row
            each staffmember in staff
              h1 #{staffmember.name} 
              img.staffimage(src='../#{staffmember.image}', alt='Oakfield Health')
              br
              a.button-add(href="/moreinfo/#{staffmember.name}") More Information
              br
              br
              br
              br